# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/rashifas/bestfoodcity.mamatazshop.com"
PassengerBaseURI "/"
PassengerNodejs "/home/rashifas/nodevenv/bestfoodcity.mamatazshop.com/22/bin/node"
PassengerAppType node
PassengerStartupFile  server.ts
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv NEXT_PUBLIC_API_URL https://italy.mamatazshop.com/api
SetEnv NEXT_PUBLIC_BASE_URL https://bestfoodcity.mamatazshop.com
SetEnv NEXT_PUBLIC_IMG_URL https://italy.mamatazshop.com
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END